<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css">
	<link rel="stylesheet" type="text/css" href="css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Weather SP</title>
</head>
<body ng-controller="appController">

	<div class="hero animated fadeIn" ng-class="hero();">

		<div style="height: 100%; width: 100%; display: flex;" ng-hide="datas">
			
			<div style="margin: auto; text-align: center;">
				<div class="loader"></div>
				<p style="font-size: 2em;">Loading...</p>
			</div>

		</div>

		<div ng-show="datas" class="animated fadeInDown" style="height: 100%;">

			<div style="height: 100%; width: 100%; display: flex;">

				<div style="margin: auto; width: 100%; text-align: center;">
					<p class="data">{{data | date: 'EEE'}}, {{data | date: 'MMMM'}} {{data | date: 'd'}}, {{data | date: 'yyyy'}}</p>
					<h1 class="local">{{datas.location.city}},{{datas.location.region}}</h1>
					<h1 class="temp">{{datas.item.condition.temp | convertCelsius | limitTo: 2 }}°C</h1>
					<img style="width: 128px;" ng-src="res/new/{{datas.item.condition.code | miniaturas}}.png">
					<p>{{datas.item.condition.text}}</p>

					<div style="height: 50px; position: absolute; bottom: 0px; left: 0px; width: 100%;">
						<div class="col-md-4 col-xs-4" style="line-height: 50px; text-align: center; color: #FFF;">
							<i class="mdi mdi-water"></i>
							{{datas.atmosphere.humidity}}%
						</div>
						<div class="col-md-4 col-xs-4" style="line-height: 50px; text-align: center; color: #FFF;">
							<i class="mdi mdi-arrow-up-bold"></i>
							{{datas.item.forecast[0].high | convertCelsius}} °C  <i class="mdi mdi-arrow-down-bold"></i>
							{{datas.item.forecast[0].low | convertCelsius}} °C
						</div>
						<div class="col-md-4 col-xs-4" style="line-height: 50px; text-align: center; color: #FFF;">
							<i class="mdi mdi-weather-windy"></i>
							{{datas.wind.speed | convertKmh | limitTo: 1}} km/h
						</div>
					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="container" ng-show="datas">

		<div class="col-md-3 col-sm-3 col-xs-12" ng-repeat="data in datas.item.forecast | limitTo: 5" ng-if="$index > 0">

			<div class="painel-other animated bounceInLeft" align="center">

				<div class="day">{{data.day}}</div>

				<img style="width: 96px;" ng-src="res/new/{{data.code | miniaturas}}.png">

				<div>
					<p>{{data.text}}</p>
					<span style="margin-right: 10px;"><i class="mdi mdi-arrow-up-bold" style="color: #03A9F4;"></i><strong>{{data.high | convertCelsius | limitTo: 2}}</strong> °C</span>
					<span><i class="mdi mdi-arrow-down-bold" style="color: #F44336;"></i><strong>{{data.low | convertCelsius | limitTo: 2}}</strong> °C</span>
				</div>

			</div>

		</div>

	</div>

	<div style="text-align: center; color: grey; margin-bottom: 15px;">
		<span>Developed by </span><a href="https://www.facebook.com/Hugo.Rafael.MC" target="_new">Hugo Cardoso</a>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>